@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fbff;
}

input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  color: #ff00ea;
}
